html {
  font-size: 10px;
}

body {
  background: lightcyan;
  font-size: 1.8rem;
}

div.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background: white;
}

.youtube {
  text-align: center;
}